<a href="https://colab.research.google.com/github/CM-007/DS_ASS/blob/main/Assignment01_Q7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [17]:
import pandas as pd

# Loading the Dataset

In [18]:
df = pd.read_csv('/content/Q7.csv')

In [19]:
df.head(3)

      Unnamed: 0  Points  Score  Weigh
0      Mazda RX4    3.90  2.620  16.46
1  Mazda RX4 Wag    3.90  2.875  17.02
2     Datsun 710    3.85  2.320  18.61

In [20]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000