<a href="https://colab.research.google.com/github/CM-007/DS_ASS/blob/main/AssNO_03_Q03_Chi_square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from scipy.stats import chi2_contingency
import pandas as pd

In [18]:
data = pd.read_csv('/content/BuyerRatio.csv')

In [19]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [20]:
data = data.drop('Observed Values', axis=1)
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [21]:
statistic,pvalue,dof,expected_freq=chi2_contingency(data)

In [22]:
alpha = 0.05

In [23]:
print("Chi - square vale is :",pvalue)

Chi - square vale is : 0.6603094907091882

In [25]:
if pvalue <= alpha :
  print("Reject Null hypothesis")
else:
    print("Accept Null hypothesis")

Accept Null hypothesis